@media(min-width:800px) {
    body {
        text-align: center;
        color: white;
    }
    .wrapper{
        width: 800px;
        height: 480px;
        margin: auto;
        display: table;

    }
    .content {
        display: table-cell;
        vertical-align: middle;
    }

}
@font-face {
    font-family: 'Jal_Onuel';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }