@media(min-width:800px) {
    body {
        text-align: center;
        color: white;
    }
    .wrapper{
        width: 800px;
        height: 480px;
        margin: auto;
        display: table;

    }
    .content {
        display: table-cell;
        vertical-align: middle;
    }

}