#logout_btn {
  display: none;
}
#pointCheck_btn {
  display: none;
}

#move1 > h2 {
  margin-top: 60px;
}

#before_login_header {
  display: none;
  line-height: 80px;
}
#award_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  margin-left: 95px;
}

.award_items {
  margin-right: 30px;
  width: auto;
}

.award_items > h2 {
  width: 250px;
}

#award_name {
  margin: 15px auto;
}

#move2 > div > h2 {
  margin-top: 50px;
}

@font-face {
  font-family: "Jal_Onuel";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
